.tipCalculator {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  gap: 40px;
  border-radius: 20px;
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: minmax(375px, 1000px);
    margin-top: 50px;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
  }

  &__label {
    padding-top: 20px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    border: none;
    background-color: hsl(189, 41%, 97%);
    border-radius: 4px;
    padding: 0px 15px;
    color: hsl(183, 100%, 15%);
    text-align: right;
    font-weight: 700;

    &::placeholder {
      text-align: right;
      color: hsl(184, 14%, 56%);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: 2px solid hsl(172, 67%, 45%);
    }

    &--custom {
      &::placeholder {
        text-align: center;
      }
    }
  }

  &__icon {
    position: relative;
    top: -27px;
    left: 15px;
  }

  &__button-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    justify-content: space-between;
    gap: 10px;
  }

  &__button {
    border: none;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
    cursor: pointer;
    font-weight: 700;
    padding: 5px;
    color: #ffffff;
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: hsl(172, 67%, 45%);
      color: hsl(183, 100%, 15%);
    }
  }

  &__label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__error {
    color: saddlebrown;
    align-self: end;
  }
}

.custom {
  text-align: center;
}
.active {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  transition: 0.2s;
}

