.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  color: hsl(186, 14%, 43%);
  font-weight: 700;

  &__input-wrapper {
    position: relative;
  }


  &__icon--person, &__icon--dollar {
    position: relative;
    top: -27px;
    left: 15px;
  }

  &__button-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    justify-content: space-between;
    gap: 10px;
  }


  &__error {
    color: saddlebrown;
  }
}
