@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import './helpers/reset.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  color: hsl(186, 14%, 43%);
}

input, button {
  font-family: inherit;
  font-size: 24px;
}
